/* ribbon */
@media only screen and (max-width: 750px) {
	.ribbon { padding-top: 15px; }
	#rbn_on { padding-top: 0px; }
	.rbn_btn:nth-child(3) { display: none; }
	.rbn_btn {
		font-size: 12px;
		line-height: 50px;
		width: 30vw;
	}
}

/* cover */
@media only screen and (max-width: 750px) {
	.cover {
		height: auto;
		padding-bottom: 30px;
	}
	.cvr_caption {
		padding-top: 30px;
		padding-left: 0px;
	}
	.cvr_cap_1 {
		font-size: 18px;
		line-height: initial;
		padding-left: 25px;
	}
	.cvr_cap_2 {
		font-size: 32px;
		line-height: initial;
		padding-left: 25px;
	}
	.cvr_cap_3 {
		font-size: 14px;
		line-height: initial;
		padding-top: 6px;
		max-width: initial;
		padding-right: 25px;
		text-align: justify;
		padding-left: 25px;
		margin-bottom: 10px;
	}
	.rbn_logo, .rbn_logo_2 {
		width: calc(100vw);
		height: 30px;
		background-size: auto 100%;
		background-position: center;
		margin: 5px 0px;
	}
	.cvr_cap_4 {
		font-size: 20px;
		max-width: initial;
		padding: 10px 20px;
		margin: 0px;
		text-align: center;
	}
	.svr_cap_label {
		font-size: 12px;
	}
	.cvr_buttons {
		padding-top: 20px;
		padding-left: calc(50vw - 135px);
	}
	.cvr_btn_1, .cvr_btn_2 {
		width: 100px;
		line-height: 40px;
		font-size: 13px;
	}
}

/* count box */
@media only screen and (max-width: 750px) {
	.counter {
		height: auto;
		overflow: initial;
		white-space: initial;
		padding: 10px 0px;
	}
	.cnt_box {
		width: 100vw;
		height: initial;
	}
	.cnt_box_count {
		font-size: 30px;
		line-height: initial;
		padding-top: 20px;
	}
}

/* pricelist */
@media only screen and (max-width: 750px) {
	.pro_title {
		font-size: 20px;
		padding-top: 80px;
		line-height: 40px;
	}
	.pro_box {
		height: initial;
	}
	.pro_try { display: none; }
	.pro_list {
		width: 100vw;
		height: initial;
	}
	.pro_lst_box {
		line-height: 50px;
		height: 50px;
	}
	.pro_lst_box_btn {
		line-height: 50px;
		font-size: 14px;
		width: 80px;
	}
	.pro_lst_box_btn:nth-child(1) { display: none; }
	.pro_itm_box {
		overflow-y: initial;
		height: auto;
		padding: 20px 0px 20px calc(50vw - 165px);
	}
	.pro_item {
		float: initial;
		height: 130px;
		width: 150px;
		transform: scale(1);
		opacity: 1;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent;
	}
	.pro_itm_type_m {
		padding-top: 10px;
	}
	.pro_itm_type_s {
		padding: 0px;
	}
	.pro_itm_type {
		background-color: rgba(255,255,255,0.38) !important;
	}
}

/* quality box */
@media only screen and (max-width: 750px) {
	.qty_box {
		margin: 0px;
		height: initial;
		padding-bottom: 15px;
	}
	.qty_box_img {
		width: 240px;
		height: 240px;
	}
}

/* contact */
@media only screen and (max-width: 750px) {
	.contact {
		height: initial;
		white-space: initial;
		overflow: initial;
	}
	iframe {
		width: 100vw;
		height: 220px;
		display: block;
		float: initial;
	}
	.con_box {
		display: block;
		width: initial;
		height: initial;
		padding-bottom: 20px;
	}
	.con_box_title {
		line-height: 50px;
		padding-top: 15px;
	}
	.con_box_text {
		font-size: 15px;
	}
	.con_box_item {
		width: calc(100vw - 75px);
		font-size: 15px;
	}
	.cbi_i {
		font-size: 20px;
	}
}